@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.woff'), url('fonts/Roboto-Regular.woff2');
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

h1, p {
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

.container {
  max-width: 1000px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(250, 232, 130);
}

.container--gray {
  background-color: #eee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.task-title {
  font-size: 1.5rem;
  margin-bottom: 18px;
}

.task-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task-item {
  margin-bottom: 10px;
  text-align: center;
}

.task-link {
  display: inline-block;
  padding-bottom: 2px;
  color: inherit;
  text-decoration: none;
  position: relative;
}

.task-link:after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #000;
  transition-property: width;
  transition-duration: 400ms;
}

.task-link:hover:after {
  width: 100%;
}

